<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:insert="fragments/header.html :: head">
    </head>

    <body>
        <div class="container">
            </br>
                <h1>
                    Departement TABLE 
                    <span class="pull-right" right>
                        <a th:href="@{/departement/add}" class="btn btn-success">Add departement </a>
                    </span>                
                </h1>            
            </br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama Departement</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="departement, e : ${departements}">
                        <td th:text="${e.index+1}"></td>
                        <!-- <td th:text="${departement.Id}"></td> -->
                        <td th:text="${departement.NamaDepartement}"></td>
                        <td>
                            <a th:href="@{/departement/edit/}+${departement.departementId}" class="btn btn-primary">Edit</a> 
                            <a th:href="@{/departement/remove/}+${departement.departementId}" class="btn btn-danger">Delete</a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


    </body>
</html>

