<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Job Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Job Management System</h1>
        <hr>
        <h2>Save job</h2>

        <form th:action="@{/saveJob}" th:object="${job}" method="POST">
            
            <input type="hidden" th:field="*{jobId}" />
            
            <input type="hidden" th:field="*{departementId}" />
            
            <input type="text" th:field="*{jobNama}" placeholder="Nama Job" class="form-control mb-4 col-4">

            <input type="text" th:field="*{jobKriteria}" placeholder="Kriteria Job" class="form-control mb-4 col-4">

            <input type="text" th:field="*{jobDeskripsi}" placeholder="Deskripsi Job" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Save Job</button>
        </form>

        <hr>

        <!--kek nya ini salah-->
        <a th:href="@{/job}"> Back to Job List</a>
    </div>
</body>

</html>