<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:insert="fragments/header.html :: head">
        
    </head>

    <body>
        <div class="row">
            <div class="col-md-auto">
            <div th:insert="fragments/sidenav.html :: sidenav"></div>
            </div>
            <div  class="col">
            <div th:insert="fragments/navbar.html :: navbar"></div>
            <div class="container">
                
                </br>
                    <h1>
                        JOB TABLE 
                        <span class="pull-right" right>
                            <a th:href="@{/job/add}" class="btn btn-success">Add Job</a>
                        </span>                
                    </h1>            
                </br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="job, status : ${jobs}">
                            <td th:text="${status.index+1}"></td>
                            <!-- <td th:text="${job.Id}"></td> -->
                            <td th:text="${job.NamaJob}"></td>
                            <td th:text="${job.KriteriaJob}"></td>
                            <td th:text="${job.DeskripsiJob}"></td>
                            <td>
                                <a th:href="@{/job/edit/}+${job.jobId}" class="btn btn-primary">Edit</a> 
                                <a th:href="@{/job/remove/}+${job.jobId}" class="btn btn-danger">Delete</a>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


    </body>
</html>

